{%  extends 'base.html' %}



{% block content %}


<div class="row ">
    <div class="col col-4">
        <img src="..." class="card-img-top" alt="...">
    </div>

    <div class="col col-4">
        <div class="d-flex">
            <div>6570 ნახვა</div>
            <div class="ms-5">07/12/2024  16:15</div>
        </div>

        <div class="card-body">
            <img src="..." class="card-img-top" alt="...">
            <p class=" fw-bold card-title">35$</p>
            <h5 class="card-title">card-title</h5>
            <p class="card-title">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
        

{%  endblock %}